flatten-dict==0.4.2
folium==0.15.0
gpxpy==1.6.2
ninja==1.11.1
numpy==1.26.1
pandas==2.1.0
polyline==2.0.1
pretty-html-table==0.9.16
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
reverse-geocoder==1.5.1
stravalib==1.5
tzdata==2023.3
wordcloud==1.9.3
xyzservices==2023.10.1
